@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(28, 28, 28, 255);
  color: rgba(245, 245, 245, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-bottom: 2rem;
}

.formContainer {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

form {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* display: flex; */
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  display: block;
}

input {
  margin-top: 0.2rem;
  padding: 8px;
  display: block;
  width: 100%;
  height: 28px;
  border: 0;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 255);
  color: rgba(148, 148, 148, 255);
}

textarea {
  margin-top: 0.2rem;
  padding: 8px;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 255);
  color: rgba(148, 148, 148, 255);
  width: 100%;
  height: 300px;
  resize: none;
}

button {
  width: 220px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: rgba(51, 51, 51, 255);
  color: rgba(245, 245, 245, 255);
  cursor: pointer;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

button:hover {
  border: 1px solid rgba(245, 245, 245, 255);
}

#backToPortfolio {
  text-decoration: none;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  background-color: rgba(51, 51, 51, 255);
  color: rgba(245, 245, 245, 255);
  cursor: pointer;
  margin-inline: auto;
  
}

#backToPortfolio:hover {
  border: 1px solid #d16568;
  color: #d16568;
}

/* 49em = 768px */
@media (min-width: 48em) {
  .formContainer {
    max-width: 500px;
  }
}
