@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0px;
}

#gallery {
  display: none;
}

.visualCode {
  display: block;
  font-size: 1.2rem;
  color: rgba(212, 195, 195, 0.426);
}

.lastCode {
  margin-bottom: 2rem;
}

/* Mobile View */

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

header span {
  padding: 0 0.5rem;
  font-weight: 700;
}

section {
  padding: 1rem 1rem;
}

/* Hero Section */
h1 {
  font-size: 4rem;
  padding-left: 0.5rem;
}

#tagline {
  background-image: linear-gradient(90deg, white, rgb(70, 64, 235));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

#tagline:hover {
  background-size: 100% 3px;
}

#heroText {
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: rgb(189, 188, 188);
  /* max-width: 600px; */
}

/* Project Section */

h2 {
  font-size: 3rem;
  padding-left: 0.5rem;
}

#projects {
  display: flex;
  flex-direction: column;
}

.projectCard {
  max-width: 700px;
  margin: 0.8rem 0 0.8rem 0.5rem;
  width: 100%;
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.projectImg {
  width: 100%;
  object-fit: contain;
}
.projectInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.mobileLinkContainer {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileLinkContainer h5 {
  font-size: 1.2rem;
}

.icons {
  width: 34px;
  height: 34px;
}

.mobileTechStack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 1rem 1rem 1rem;
}

.mobileTechStack h5 {
  font-size: 1.2rem;
}

.techIcons {
  width: 34px;
  height: 34px;
  transition: ease 0.4s ;
}

.techIcons:hover {
  transform: scale(1.2);
}

.projectInfo h4 {
  font-size: 1.2rem;
}

/* Large Mobile or Tablet View */

@media (min-width: 700px) {
  section {
    padding: 1rem 4rem;
  }

  h1 {
    font-size: 5rem;
  }

  #heroText {
    font-size: 1.4rem;
    max-width: 800px;
  }
}

/* Desktop View */

@media (min-width: 1182px) {
  body {
    margin: 0px;
    overflow: hidden;
  }

  #mobilePortfolio {
    display: none;
  }

  #gallery {
    display: block;
    /* height: 140vmax;
    width: 140vmax; */
    height: 120vmax;
    width: 120vmax;
    position: absolute;
  }

  .tile {
    border-radius: 1vmax;
    position: absolute;
    transition: transform 800ms ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile:hover {
    transform: scale(1.1);
  }

  .tile:hover > img {
    opacity: 1;
    transform: scale(1.01);
  }

  .tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
  }

  #contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    color: white;

    background-color: #c4454a;
    height: 10%;
    width: 10%;
    left: 63%;
    top: 50%;
    position: relative;
    animation: pulse 2s;
    animation-iteration-count: 5;
  }

  #contactContainer span {
    opacity: 1;
    font-size: 3.5rem;
  }

  .tile:nth-child(1) {
    background-color: #d6575b;
    height: 15%;
    width: 27%;
    left: 5%;
    top: 5%;
  }

  .tile:nth-child(2) {
    background-color: #c06568;
    height: 24%;
    width: 17%;
    left: 42%;
    top: 12%;
  }

  .tile:nth-child(3) {
    background-color: #672325;
    height: 28%;
    width: 25%;
    left: 10%;
    top: 28%;
  }

  .tile:nth-child(4) {
    background-color: #7b292c;
    height: 25%;
    width: 20%;
    left: 40%;
    top: 45%;
  }

  /* StoryTime */
  .tile:nth-child(5) {
    background-color: #8e2f32;
    height: 26%;
    width: 30%;
    left: 8%;
    top: 65%;
  }

  .tile:nth-child(6) {
    background-color: #a23539;
    height: 32%;
    width: 12%;
    left: 82%;
    top: 42%;
  }

  .tile:nth-child(7) {
    background-color: #b63a3f;
    height: 18%;
    width: 12%;
    left: 50%;
    top: 74%;
  }

  .tile:nth-child(8) {
    background-color: #c4454a;
    height: 24%;
    width: 16%;
    left: 75%;
    top: 6%;
  }

  /* QR Code */
  .tile:nth-child(9) {
    background-color: #c4454a;
    height: 10%;
    width: 8%;
    left: 82%;
    top: 82%;
  }

  .tile .techStack {
    display: none;
  }

  .tile .techStack img {
    width: 100%;
    height: 100%;
  }

  .tile:hover .techStack {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -3.2rem;
  }

  .stackIcon {
    width: 35px;
    height: 35px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c44549c8;
  }

  70% {
    box-shadow: 0 0 0 10px #c4454945;
  }

  100% {
    box-shadow: 0 0 0 0 #c4454924;
  }
}
