@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0px;
}

#gallery {
  display: none;
}

.visualCode {
  display: block;
  font-size: 1.2rem;
  color: rgba(212, 195, 195, 0.326);
}

.lastCode {
  margin-bottom: 2rem;
}

/* Mobile View */

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

header a {
  text-decoration: none;
  color: white;
  margin-left: 0.5rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, white, rgb(70, 64, 235));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

header a:hover {
  background-size: 100% 2px;
}

section {
  padding: 1rem 1rem;
}

/* Hero Section */

#heroContainer {
  position: relative;
}

.gradients {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.circle {
  position: absolute;
  height: 15rem;
  width: 15rem;
}

.orange {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 61, 0, 0.3) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  left: -2rem;
  bottom: -19rem;
}

.purple {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(101, 31, 255, 0.2) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  right: -18rem;
  top: 0rem;
}

.yellow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 213, 79, 0.2) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  bottom: -23rem;
  left: 1rem;
}

h1 {
  font-size: 4rem;
  padding-left: 0.5rem;
}

#photoHover {
  position: relative;
  margin-left: 12px;
}

#photoHoverText {
  position: absolute;
}

#photoHoverImg {
  display: block;
  position: absolute;
  left: 0;
  right: 10px;
  top: 1;
  bottom: 0;
  opacity: 0;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  transition: 1s ease-out;
}

#photoHover:hover #photoHoverText {
  transition: 1s ease-out;
  opacity: 0;
}

#photoHover:hover #photoHoverImg {
  width: 140px;
  height: 140px;
  opacity: 1;
  transform: scale(1);
}

#tagline {
  background-image: linear-gradient(90deg, white, rgb(70, 64, 235));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

#tagline:hover {
  background-size: 100% 3px;
}

#heroText {
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: rgb(189, 188, 188);
  /* max-width: 600px; */
}

/* Project Section */

h2 {
  font-size: 3rem;
  padding-left: 0.5rem;
}

#projects {
  display: flex;
  flex-direction: column;
}

.projectCard {
  max-width: 700px;
  margin: 0.8rem 0 0.8rem 0.5rem;
  /* margin: 0.8rem auto; */
  width: 100%;
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.projectImg {
  width: 100%;
  object-fit: contain;
}
.projectInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectInfo h4 {
  font-size: 1.5rem;
}

.projectInfo p {
  font-size: 1.1rem;
}

.projectInfoList {
  list-style-position: inside;
}

.projectInfoList h5 {
  font-size: 1.2rem;
}

.projectInfoList li {
  padding-top: 0.5rem;
}

.mobileTechStack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 1rem 0rem 1rem;
}

.mobileTechStack h5 {
  font-size: 1.2rem;
}

.techIcons {
  width: 34px;
  height: 34px;
  transition: ease 0.4s;
}

.techIcons:hover {
  transform: scale(1.2);
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.mobileLinkContainer {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileLinkContainer h5 {
  font-size: 1.2rem;
}

.mobileLinkContainer span {
  font-size: 1.2rem;
  font-weight: 700;
}

.icons {
  width: 34px;
  height: 34px;
  transition: ease 0.4s;
}

.icons:hover {
  transform: scale(1.2);
}

/* Contact Area */

#contactLink {
  padding: 1rem 1rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

#contactLink h3 {
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, white, rgb(70, 64, 235));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

#contactLink:hover h3 {
  background-size: 100% 2px;
}

.envelope {
  width: 30px;
  height: 30px;
}

#closedEnvelope {
  display: block;
}

#openEnvelope {
  display: none;
}

#contactLink:hover #closedEnvelope {
  display: none;
}

#contactLink:hover #openEnvelope {
  display: block;
}

/* Large Mobile or Tablet View */

@media (min-width: 700px) {
  section {
    padding: 1rem 4rem;
  }

  h1 {
    font-size: 5rem;
  }

  #heroText {
    font-size: 1.4rem;
    max-width: 800px;
  }
}

/* Desktop View */

@media (min-width: 1182px) {
  body {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
  }

  #mobilePortfolio {
    display: none;
  }

  #gallery {
    display: block;
    margin: 0px;
    height: 120vmax;
    width: 120vmax;
    position: absolute;
  }

  .tile {
    border-radius: 1vmax;
    position: absolute;
    transition: transform 800ms ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile:hover {
    transform: scale(1.1);
  }

  .tile:hover > img {
    opacity: 1;
    transform: scale(1.01);
  }

  .tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
  }

  #contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #c4454a;
    height: 10%;
    width: 10%;
    left: 63%;
    top: 50%;
    position: relative;
    animation: pulse 2s;
    animation-iteration-count: 5;
  }

  #contactContainer img {
    display: block;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 0.2rem;
  }

  .tile:nth-child(1) {
    background-color: #d6575b;
    height: 15%;
    width: 27%;
    left: 5%;
    top: 5%;
  }

  .tile:nth-child(2) {
    background-color: #c06568;
    height: 24%;
    width: 17%;
    left: 42%;
    top: 12%;
  }

  .tile:nth-child(3) {
    background-color: #672325;
    height: 28%;
    width: 25%;
    left: 10%;
    top: 28%;
  }

  .tile:nth-child(4) {
    background-color: #7b292c;
    height: 25%;
    width: 20%;
    left: 40%;
    top: 45%;
  }

  /* StoryTime */
  .tile:nth-child(5) {
    background-color: #8e2f32;
    height: 26%;
    width: 30%;
    left: 8%;
    top: 65%;
  }

  .tile:nth-child(6) {
    background-color: #a23539;
    height: 32%;
    width: 12%;
    left: 82%;
    top: 42%;
  }

  .tile:nth-child(7) {
    background-color: #b63a3f;
    height: 18%;
    width: 12%;
    left: 50%;
    top: 74%;
  }

  .tile:nth-child(8) {
    background-color: #c4454a;
    height: 24%;
    width: 16%;
    left: 75%;
    top: 6%;
  }

  /* QR Code */
  .tile:nth-child(9) {
    background-color: #c4454a;
    height: 10%;
    width: 8%;
    left: 82%;
    top: 82%;
  }

  .tile .techStack {
    display: none;
  }

  .tile .techStack img {
    width: 100%;
    height: 100%;
  }

  .tile:hover .techStack {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -3.2rem;
  }

  .stackIcon {
    width: 35px;
    height: 35px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c44549c8;
  }

  70% {
    box-shadow: 0 0 0 10px #c4454945;
  }

  100% {
    box-shadow: 0 0 0 0 #c4454924;
  }
}
