@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0px;
}

#gallery {
  display: none;
}

/* Desktop View */

@media (min-width: 1182px) {
  body {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
  }

  #mobilePortfolio {
    display: none;
  }

  #gallery {
    display: block;
    margin: 0px;
    height: 120vmax;
    width: 120vmax;
    position: absolute;
  }

  .tile {
    border-radius: 1vmax;
    position: absolute;
    transition: transform 800ms ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile:hover {
    transform: scale(1.1);
  }

  .tile:hover > img {
    opacity: 1;
    transform: scale(1.01);
  }

  .tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
  }

  #contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* color: white; */
    background-color: #c4454a;
    height: 6%;
    width: 6%;
    left: 63%;
    top: 50%;
    position: absolute;
    animation: pulse 2s;
    animation-iteration-count: 5;
  }

  #contactContainer img {
    display: block;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 0.2rem;
    border-radius: 0;
  }

  #viewSelectContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #c4454a;
    height: 4%;
    width: 4%;
    left: 62%;
    top: 40%;
  }

  #viewSelectContainer img {
    display: block;
    opacity: 1;
    width: 32px;
    height: 32px;
    padding: 0.2rem;
  }

  .tile:nth-child(1) {
    background-color: #d6575b;
    height: 15%;
    width: 27%;
    left: 5%;
    top: 5%;
  }

  .tile:nth-child(2) {
    background-color: #8e2f32;
    height: 28%;
    width: 20%;
    left: 9%;
    top: 63%;
  }

  .tile:nth-child(3) {
    background-color: #672325;
    height: 28%;
    width: 25%;
    left: 10%;
    top: 28%;
  }

  .tile:nth-child(4) {
    background-color: #7b292c;
    height: 25%;
    width: 20%;
    left: 40%;
    top: 45%;
  }

  /* StoryTime */
  .tile:nth-child(5) {
    background-color: #c06568;
    height: 24%;
    width: 27%;
    left: 42%;
    top: 12%;
  }

  .tile:nth-child(6) {
    background-color: #a23539;
    height: 32%;
    width: 12%;
    left: 82%;
    top: 42%;
  }

  .tile:nth-child(7) {
    background-color: #b63a3f;
    height: 18%;
    width: 12%;
    left: 66%;
    top: 58%;
  }

  .tile:nth-child(8) {
    background-color: #c4454a;
    height: 24%;
    width: 16%;
    left: 75%;
    top: 6%;
  }

  .tile:nth-child(9) {
    background-color: #c4454a;
    height: 10%;
    width: 8%;
    left: 82%;
    top: 82%;
  }

  .tile:nth-child(10) {
    background-color: #c4454a;
    height: 20%;
    width: 20%;
    left: 35%;
    top: 73%;
  }

  .tile:nth-child(11) {
    background-color: #c4454a;
    height: 10%;
    width: 10%;
    left: 63%;
    top: 82%;
  }

  .tile .techStack {
    display: none;
  }

  .tile .techStack img {
    width: 100%;
    height: 100%;
  }

  .tile:hover .techStack {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -3.2rem;
  }

  .stackIcon {
    width: 33px;
    height: 33px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c44549c8;
  }

  70% {
    box-shadow: 0 0 0 10px #c4454945;
  }

  100% {
    box-shadow: 0 0 0 0 #c4454924;
  }
}
